{% extends "layout.html" %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/playlist.css') }}">
{% endblock css %}
{% block body %}
<div class="container-fluid bg-3 text-center mt-5 pt-5">
  <h3>Billboard Search</h3><br>
  <div class="row text-center">
    <div class="col-sm-2 col-md-2 col-lg-3"></div>
    <div id="filter-bar" class="col-sm-4 col-md-4 col-lg-3">
      <div class="input-group mt-1 mb-1">
        <div class="input-group-prepend">
          <label class="input-group-text bg-dark btn_text" for="billboard-value">Select Billborad</label>
        </div>
        <select class="custom-select" id="billboard-value">
          <option selected id="0">Choose...</option>
          {%for i in range(0, len)%}
            <option id={{i + 1}}  value={{billboards[i]}}>{{billboards[i]}}</option>
          {%endfor%}
        </select>
      </div>
    </div>
    <div id="filter-bar" class="col-sm-4 col-md-4 col-lg-3">
      <div class="input-group mt-1 mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text bg-dark btn_text">Date</span>
        </div>
        <input type="date" class="form-control" value={{current_dte}} id="billboard-date">
        <button type="button" class="btn btn-primary ml-2" onclick="submit_billboard_request();">Search</button>
      </div>
    </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-3"></div>
    <div class="row text-center">
        <div class="col-12 text-center">
          <h4>Or ....</h4>
        </div>
        <div class="col-12 text-center">
          <button type="button" class="btn btn-primary">Let the Site Pick</button>
        </div>
      </div>
    </div>
  
  <div class="row">
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p id="dd">Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div>
{% block script %}
  <script>

    function submit_billboard_request() {
      var billboard = document.getElementById("billboard-value");
      var bill_date = document.getElementById("billboard-date");

      var entry = {
        billboard: billboard.value,
        bill_date: bill_date.value
      };

      fetch(`${window.origin}/playlist/get-list`, {
          method: "POST",
          credentials: "include",
          body: JSON.stringify(entry),
          cache: "no-cache",
          headers: new Headers({
            "content-type": "application/json"
          })
        })
        .then(function(response) {
          if (response.status !== 200) {
            console.log('Looks like there was a problem. Status code: ${response.status}');
            return;
          }
          response.json().then(function(data) {
            document.getElementById("dd").innerHTML = data.billboard
            console.log(data);
          });
        })
        .catch(function(error) {
          console.log("Fetch error: " + error);
      });


    }
  </script>
{% endblock script %}
{% endblock body %}